.MuiFormControl-root {
    width: 90% !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    background: white !important;
    border-radius: 10px;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus{
    border: none  !important;
}