.layout-div {
    width: 100%; 
    display:flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    /* background-color: rgb(110, 212, 253); */
    padding: 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: #AA028A  20px 0px 20px -29px;
  }

  .nav-bar-box {
    border-width: 0px 0px 1px 0px;
    top: 0;
    z-index: 99;
  } 

  .header-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px !important;
}
.btn-wallet {
color: #080808;
font-weight: 700;
border-radius: 5px;
height: 46px;
font-size: 1rem;
padding: 0px 22px;
background-color: #FF8B49 !important;
margin: 0px 10px;
}

.main-card {
    height: auto;
    padding: 2rem;
    border-color: #b7b7b73b;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
}